@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply bg-light-mode text-dark-mode dark:bg-dark-mode dark:text-light-mode
  }
  .container-sm {
      padding: 0 4rem;
  }
  .container-md {
      padding: 0 11rem;
  }
  .container-lg {
      padding: 0 17rem;
  }
  .container-xl {
      padding: 0 360px;
  }
}

@layer utilities {
  :root {
      --light-mode : #F6F5F5;
      --dark-mode : #4E89AE;
}
  .instagram-color {
      background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366);
}
  .text-gradient {
      background-clip: text;
      -webkit-text-fill-color: transparent;
}
/* =========== TOOLTIP =========== */
 .tooltip {
      position: relative;
      display: inline-block;
  }
  .tooltip .tooltiptext {
      visibility: hidden;
      width: 120px;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
      font-family: inter;
      position: absolute;
      z-index: 1;
      bottom: 100%;
      left: 50%;
      margin-left: -60px;

  }
  .tooltip:hover .tooltiptext {
      visibility: visible;
  }
/* =========== END TOOLTIP =========== */

/* =========== PROJECTS =========== */
  .auto-grid {
      grid-template-columns: repeat(
      auto-fill,
      minmax(var(--auto-grid-min-size, 14rem), 1fr)
      );
}

/* Blocks */
  .projects {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      aspect-ratio: 1/1;
      position: relative;
      padding: 1.5rem;
      color: #ffffff;
      backface-visibility: hidden;
      text-decoration: none;
      overflow: hidden;
}

  .projects::before,
  .projects::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      /*inset: 0;*/
      top: 0;
      left: 0;
}

  .projects::before {
      background: linear-gradient(
      to top,
      hsl(0 0% 0% / 0.79) 0%,
      hsl(0 0% 0% / 0.787) 7.8%,
      hsl(0 0% 0% / 0.779) 14.4%,
      hsl(0 0% 0% / 0.765) 20.2%,
      hsl(0 0% 0% / 0.744) 25.3%,
      hsl(0 0% 0% / 0.717) 29.9%,
      hsl(0 0% 0% / 0.683) 34.3%,
      hsl(0 0% 0% / 0.641) 38.7%,
      hsl(0 0% 0% / 0.592) 43.3%,
      hsl(0 0% 0% / 0.534) 48.4%,
      hsl(0 0% 0% / 0.468) 54.1%,
      hsl(0 0% 0% / 0.393) 60.6%,
      hsl(0 0% 0% / 0.31) 68.3%,
      hsl(0 0% 0% / 0.216) 77.3%,
      hsl(0 0% 0% / 0.113) 87.7%,
      hsl(0 0% 0% / 0) 100%
);
      transition: 300ms opacity linear;
}

  .projects::after {
      background: linear-gradient(
      45deg,
      hsl(5 97% 63% / 0.7) 0,
      hsl(5 97% 63% / 0) 100%
);
      opacity: 0;
      transition: 300ms opacity linear;
}

  .projects > * {
      z-index: 1;
}

  .projects img {
      z-index: -1;
      filter: grayscale(1);
      transition: filter 200ms ease, transform 250ms linear;
}
  .projects p {
      transition: 300ms opacity linear, 300ms transform ease-in-out;
}
  .projects:focus {
      outline: 0.5rem solid white;
      outline-offset: -0.5rem;
}

  .projects:hover :is(h2, p),
  .projects:focus :is(h2, p) {
      transform: none;
}

  .projects:hover::after,
  .projects:focus::after,
  .projects:hover::before,
  .projects:focus::before {
      opacity: 0.7;
}

  .projects:hover p,
  .projects:focus p {
      opacity: 1;
      transition-delay: 200ms;
}

  .projects:hover img,
  .projects:focus img {
      filter: grayscale(0);
      transform: scale(1.05) rotate(1deg);
}
/* =========== END PROJECTS =========== */
  .timeline .timeline-container:last-of-type {
      margin-bottom: 0;
}
}